<strong>Hello!</strong>
Welcome to <strong>SO lit!</strong>
StackOverflow is a swiss army knife for every engineer, the community there helps us a lot. But this bot is here to take it even further:
<strong>SO lit!</strong> will make StackOverflow not only a very handful tool, but also a reading resource for you.
We believe that the question-answer format of communication contains tremendous amount of niche knowledge, which you won't find anywhere else.
Just describe your sphere of interests and receive daily lists of nice content from StackOverflow, that covers your chose sphere of interests.

Let's start with a basic setup and get hands dirty with the bot. Just send us up to 5 StackOverflow tags that you would like to follow message by message:
E.g:
<code>javascript</code>
<code>ios</code>
<code>java</code>
<code>css</code>
